.login-bg{
	background: url("img/login_bg.jpg");
	background-position: center center;
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.center{
    position: relative;
    top: 30%;
	margin: 0 auto;
	text-align: center;
}		

.center h1{
	margin-bottom: 30px;
    font-size: 4rem;
}